body {
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
}

h1, h2 {
    color: #333;
}

input[type="text"], input[type="email"], input[type="number"], input[type="datetime-local"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.receipt {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.receipt-item {
    margin-bottom: 10px;
}

.receipt-item strong {
    display: inline-block;
    width: 150px; /* Adjust width for alignment */
}